.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 2px solid transparent;
  border-radius: 2px;
}

.dragging {
  background-color: rgb(255, 250, 230);
  border-color: rgba(0, 0, 0, 0.71);
}

.movieAvatar {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  min-width: 50px;
  height: 50px;
}

.invisible {
  display: none;
}

.contentContainer {
  display: flex;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.subContent {
  color: rgba(0, 0, 0, 0.71);
  width: fit-content;
  background-color: rgb(255, 250, 230);
  padding: 4px;
}

.btnWrapper svg {
  width: 20px;
  height: 20px;
}

.btnWrapper button {
  width: 35px;
  height: 35px;
}


.btnWrapper button:active {
  transform: scale(0.85);
}

@media(max-width: 680px) {
    .movieAvatar {
        display: none;
    }
}

@media(max-width: 456px) {
  .btnWrapper svg {
    width: 16px;
    height: 16px;
  }
}