.headerWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 250, 230);
  margin-bottom: 5px;
}

.navPanel {
  display: flex;
  width: 80%;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.navPanel li {
  position: relative;
  font-size: 1.2em;
  margin-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

li.active {
  text-decoration: underline;
}

li.active a {
  pointer-events: none;
  cursor: default;
}

@media (max-width: 1200px) {
  .navPanel {
    width: 95%;
  }
}
