.header-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 250, 230);
  margin-bottom: 5px;
}

.nav-panel {
  display: flex;
  width: 68%;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.nav-panel li {
    position: relative;
    font-size: 1.2em;
    margin-right: 20px;
}

.nav-panel li:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    background: black;
    left: 62px;

}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 790px) {
  .nav-panel {
    width: 95%;
  }
}
